.form-container{
    margin: 15rem auto;
}

.app-body{
    background-image: url(./../../../../assets/img/imagen_fondo.jpg);
    background-size: 100% 150%;
    background-repeat: no-repeat;
    height: 100vh;
}

button.btn-eye{
  position: absolute;
  right: 0px;
  top: 0;
  padding: 2px;
  z-index: 999;
  height: 34px;
  width: 38px;
}