<div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title">Editar categoria</h4> -->
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body py-4 h6" *ngIf="!success">
    Esta acción eliminara permanentemente la imagen del canal.
    Esta seguro de continuar?
</div>

<div class="alert alert-success m-3 p-3 text-center" *ngIf="success">
    Imagen eliminada con exito!
</div>

<div class="modal-footer">
    <button class="btn btn-secondary mr-2" (click)="closeModal()">
        <span *ngIf="!success">Cancelar</span>
        <span *ngIf="success">Cerrar</span>
    </button>

    <button class="btn btn-danger" *ngIf="!success  && !isLoading" (click)="delete()">
        Eliminar
    </button>

    <button class="btn btn-danger" *ngIf="success && isLoading" [disabled]="true">
        <i class="fa fa-circle-o-notch fa-spin"></i> Espere...
    </button>
</div>

