<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"><strong>NUEVO</strong> Usuario</div>
        <div class="card-body">
          <form [formGroup]="form">
            <div class="row mb-0">
              <img
                [src]="url"
                width="160px"
                class="rounded mx-auto d-block"
                alt="..."
              />
            </div>
            <button
              class="btn btn-sm btn-link px-0 mb-3 mx-auto d-block"
              (click)="uploadImage()"
            >
              <i class="fa fa-plus text-primary"></i>
              Foto de perfil
            </button>

            <div *ngIf="currentFileUpload" class="progress mt-2">
              <div
                class="progress-bar progress-bar-info"
                role="progressbar"
                attr.aria-valuenow="{{ percentage }}"
                aria-valuemin="0"
                aria-valuemax="100"
                [ngStyle]="{ width: percentage + '%' }"
              >
                {{ percentage }}%
              </div>
            </div>

            <p class="text-center" style="width: 100%">
              <img
                src="../../../../../assets/img/logo.png"
                width="200px"
                style="margin: 0px auto"
                alt=""
              />
            </p>
            <h6 class="text-center text-secondary d-block mx-auto mb-3">
              Registro de administradores
            </h6>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-user"></i></span>
              </div>
              <input
                type="text"
                formControlName="nombre"
                class="form-control"
                placeholder="nombre"
                [class.is-invalid]="onInvalidField('nombre')"
              />
            </div>
            <div
              class="row my-3 mx-3 text-danger"
              *ngIf="f.nombre.touched && f.nombre.invalid"
            >
              <small *ngIf="f.nombre.errors.required"
                >Nombre es requerido.</small
              >
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-user"></i></span>
              </div>
              <input
                type="text"
                formControlName="apellido"
                class="form-control"
                placeholder="apellido"
                [class.is-invalid]="onInvalidField('apellido')"
              />
            </div>
            <div
              class="row my-3 mx-3 text-danger"
              *ngIf="f.apellido.touched && f.apellido.invalid"
            >
              <small *ngIf="f.apellido.errors.required"
                >Apellido es requerido.</small
              >
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <small class="input-group-text"
                  ><i class="icon-user"></i
                ></small>
              </div>
              <input
                type="email"
                formControlName="correo"
                class="form-control"
                placeholder="correo"
                [class.is-invalid]="onInvalidField('correo')"
              />
            </div>
            <div
              class="row my-3 mx-3 text-danger"
              *ngIf="f.correo.touched && f.correo.invalid"
            >
              <small *ngIf="f.correo.errors.required"
                >Email es requerido.</small
              >
              <small *ngIf="f.correo.errors.pattern">Email invalido.</small>
              <small *ngIf="form.controls['correo'].errors?.usernameExists">
                Esta email ya ha sido registrado!
              </small>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span
                  class="input-group-text"
                  *ngIf="passVisibility == 'on'"
                  (click)="passVisibility = 'off'"
                >
                  <i class="icon-lock-open"></i>
                </span>

                <span
                  class="input-group-text"
                  *ngIf="passVisibility == 'off'"
                  (click)="passVisibility = 'on'"
                >
                  <i class="icon-lock"></i>
                </span>
              </div>
              <input
                type="{{ passVisibility == 'off' ? 'password' : 'text' }}"
                formControlName="clave"
                class="form-control"
                placeholder="Contraseña"
                [class.is-invalid]="onInvalidField('clave')"
              />
            </div>
            <div
              *ngIf="f.clave.touched && f.clave.invalid"
              class="row my-3 mx-3 text-danger"
            >
              <small *ngIf="f.clave.errors.required"
                >Contraseña es requerido.</small
              >
              <small *ngIf="f.clave.errors.maxlength"
                >Máximo 8 carácteres.</small
              >
              <small *ngIf="f.clave.errors.minlength"
                >Miínimo 6 carácteres.</small
              >
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span
                  class="input-group-text"
                  *ngIf="passVisibility == 'on'"
                  (click)="passVisibility = 'off'"
                >
                  <i class="icon-lock-open"></i>
                </span>

                <span
                  class="input-group-text"
                  *ngIf="passVisibility == 'off'"
                  (click)="passVisibility = 'on'"
                >
                  <i class="icon-lock"></i>
                </span>
              </div>
              <input
                type="{{ passVisibility == 'off' ? 'password' : 'text' }}"
                formControlName="confirm_password"
                class="form-control"
                placeholder="Confirmar contraseña"
                [class.is-invalid]="onInvalidField('confirm_password')"
              />
            </div>
            <div
              *ngIf="f.confirm_password.touched && f.confirm_password.invalid"
              class="text-danger"
            >
              <small *ngIf="f.confirm_password.errors.required"
                >Contraseña es requerido.</small
              >
              <small *ngIf="f.confirm_password.errors.confirmedValidator"
                >Contraseña no coincide.</small
              >
            </div>

            <div class="row my-4">
              <div class="col-6">
                <button
                  type="button"
                  class="btn btn-primary px-4"
                  [disabled]="!form.valid || !filedata"
                  (click)="register()"
                >
                  Registrarse
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner> </ngx-spinner>
</div>
<ngx-spinner> </ngx-spinner>
