<div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title" *ngIf="!success">Nueva categoria</h4> -->
    <!-- <h4 class="modal-title" id="modal-basic-title" *ngIf="!success">Felicidades</h4> -->
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!--/.row-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>NUEVA</strong> imagen
                </div>
                <div class="card-body">
                    <form [formGroup]="form" *ngIf="!success">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <img [src]="url ? url : 'assets/img/no-image.png'" class="card-img-top" alt="..."
                                    height="350px">
                            </div>    
                        </div>


                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="file-input">Imagen</label>
                            <div class="col-md-9">
                                <input type="file" 
                                    formControlName="url" 
                                    id="file-input" 
                                    name="file-input"
                                    accept="image/*" 
                                    [class.is-invalid]="onInvalidField('url')"
                                    (change)="fileEvent($event)" 
                                    required>
                                <small *ngIf="onValidator('url', 'required')" class="text text-danger">
                                    Requerido
                                </small>
                            </div>
                        </div>


<!-- {{props.canales | json}} -->

                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Categoria</label>
                        <div class="col-md-9">
                            <select class="form-control" 
                                formControlName="categoria"
                                [class.is-invalid]="onInvalidField('categoria')">
                                <option value="">Seleccione una categoria</option>
                                <option [value]="canal.categoria" *ngFor="let canal of props.canales">
                                    {{canal.categoria}}
                                </option>
                            </select>
                            <small *ngIf="onValidator('categoria', 'required')"
                                class="text text-danger">
                                Requerido
                            </small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Nombre</label>
                        <div class="col-md-9">
                            <input type="text" 
                                class="form-control" 
                                formControlName="nombre"
                                [class.is-invalid]="onInvalidField('nombre')"
                                placeholder="Ingrese nombre">
                            <small *ngIf="onValidator('nombre', 'required')" 
                                    class="text text-danger">
                                Requerido
                            </small>
                        </div>
                    </div>


                     

                        <div *ngIf="currentFileUpload" class="progress mt-2">
                            <div class="progress-bar progress-bar-info" role="progressbar"
                                attr.aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100"
                                [ngStyle]="{ width: percentage + '%' }">
                                {{ percentage }}%
                            </div>

                        </div>

                        <!-- <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Nombre</label>
                            <div class="col-md-9">
                                <input type="text" 
                                    formControlName="nombre" 
                                    id="text-input" 
                                    name="text-input"
                                    class="form-control" 
                                    [class.is-invalid]="onInvalidField('nombre')"
                                    placeholder="Nombre de la categoria">
                                <small *ngIf="onValidator('nombre', 'required')" class="text text-danger">
                                    Requerido
                                </small>

                            </div>
                        </div> -->
                    </form>
                    <div class="py-1 my-3 d-flex flex-column justify-content-center" *ngIf="success">
                        <img src="assets/img/check.png" style="margin:0px auto!important;">
                        <h5 class="text-center">Imagen agregada exitosamente.</h5>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" 
                        class="btn btn-sm btn-primary" 
                        [disabled]="!form.valid"
                        *ngIf="!isLoading && !success" 
                        (click)="save()">
                        <i class="fa fa-dot-circle-o"></i>
                        Agregar
                    </button>
                    <button class="btn btn-sm btn-primary" 
                        *ngIf="isLoading  && !success" 
                        [disabled]="true">
                        <i class="fa fa-circle-o-notch fa-spin"></i> Espere...
                    </button>

                    <button type="reset" 
                        class="btn btn-sm" 
                        [ngClass]="{'btn-danger': !success,
                                    'btn-secondary': success}" 
                        (click)="cancel()">

                        <span *ngIf="!success">
                            <i class="fa fa-ban"></i>
                            Cancelar
                        </span>
                        <span *ngIf="success">
                            <i class="fa fa-times"></i>
                            Cerrar
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
    <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
</div> -->
    <ngx-spinner>
    </ngx-spinner>

