

<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card-group form-container">
                        <div class="card p-4">
                            <div class="card-body">
                                <p class="text-center" style="width:100%;">
                                    <img src="../../../../../assets/img/logo.png" width="200px" style="margin:0px auto" alt="">
                                </p>
                                <!-- <h6 class="text-center text-secondary d-block mx-auto mb-3">Registro de administradores</h6> -->

                                <h5 class="text-center text-secondary d-block mx-auto mb-3 mb-4" style="width:100%;">Gracias por registrarte!</h5>
                                <div class="form-goup mb-4">
                                    <p class="text-center">
                                        Hemos enviado un email de confirmación a <strong>email@emial.com</strong>
                                    </p>
                                </div>
                                <div class="form-group mb-4">
                                    <button class="btn btn-primary btn-block" (click)="onSendEmail()">Reenviar correo de verificación</button>
                                </div>
                                <div class="form-goup mb-0">
                                    <p type="button" class="btn btn-sm btn-link px-0 text-center" routerLink="/login">
                                        Iniciar sesion.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<ngx-spinner>
</ngx-spinner>