.form-container{
    margin: 15rem auto;
}

.app-body{
    background-image: url(./../../../../../assets/img/imagen_fondo.jpg);
    background-size: 100% 150%;
    background-repeat: no-repeat;
    height: 100vh;
}
